<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="classes">
  <test name="Test">
  
  <parameter name="workBook" value="C:\Users\Administrator\Downloads\Lionfund_openAccount_action.xls" />
  <parameter name="url" value="http://192.168.0.162:4444/wd/hub" />
  <parameter name="version" value="46.0.1" />
  
  <classes>
  	<class name="topdeep.autotest.biz.executer.impl.browser.BrowserUserCaseExecuteTest"></class>
  </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
